n8n_job_search_v1.json
{
  "name": "LinkedIn Job Search V1",
  "nodes": [
    {
      "id": "a1000001-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, -400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,19 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, -200]
    },
    {
      "id": "a1000001-0001-0001-0001-000000000031",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-800, 0],
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000033",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "parameters": {
        "path": "job-search",
        "httpMethod": "GET",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "job-search-webhook"
    },
    {
      "id": "a1000001-0001-0001-0001-000000000034",
      "name": "Parse Webhook Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 200],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst hours = parseInt($input.first().json.query?.hours) || 12;\nconst seconds = hours * 3600;\n\nstaticData.customTimeWindow = seconds;\n\nconsole.log(`Webhook trigger: searching last ${hours} hours (${seconds}s)`);\n\nreturn [{json: {hours: hours, seconds: seconds, triggered: 'webhook'}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000032",
      "name": "Parse Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 0],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst msg = ($input.first().json.message?.text || '').trim();\n\n// Parse commands like: /jobs 6, /jobs 12, /jobs\nconst match = msg.match(/^\\/jobs(?:\\s+(\\d+))?$/);\n\nif (!match) {\n  // Not a valid command — ignore\n  staticData.telegramTriggered = false;\n  return [{json: {skip: true, reason: 'Invalid command. Use /jobs or /jobs <hours>'}}];\n}\n\nconst hours = match[1] ? parseInt(match[1]) : 12; // Default 12 hours if no number given\nconst seconds = hours * 3600;\n\nstaticData.telegramTriggered = true;\nstaticData.customTimeWindow = seconds;\nstaticData.triggerChatId = $input.first().json.message?.chat?.id || '951213350';\n\nconsole.log(`Telegram trigger: searching last ${hours} hours (${seconds}s)`);\n\nreturn [{json: {hours: hours, seconds: seconds, triggered: true}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000003",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-400, -400],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Config"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000004",
      "name": "Store Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, -400],
      "parameters": {
        "jsCode": "// Store config data in workflow static data for use by later nodes\nconst staticData = $getWorkflowStaticData('global');\n\n// Store all config rows\nstaticData.config = $input.all().map(i => i.json);\n\n// Initialize accumulators\nstaticData.newJobLinks = [];\nstaticData.existingJobIds = {};\nstaticData.processedJobs = [];\n\nconst activeCount = staticData.config.filter(c => \n  String(c.Active).toUpperCase() === 'TRUE' || c.Active === true\n).length;\n\nconsole.log(`Config loaded: ${staticData.config.length} companies, ${activeCount} active`);\n\nreturn [{json: {configLoaded: true, totalCompanies: staticData.config.length, activeCompanies: activeCount}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000005",
      "name": "Read Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [200, -400],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Results",
          "cachedResultName": "Results"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000006",
      "name": "Build Search URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, -400],
      "parameters": {
        "jsCode": "// ============================================================\n// SETTINGS — Change these before manual runs if needed\n// ============================================================\nconst staticDataForTime = $getWorkflowStaticData('global');\nconst TIME_WINDOW_SECONDS = staticDataForTime.customTimeWindow || 86400;  // Default 24h, overridden by Telegram /jobs command\n// Clear custom time after reading so scheduled runs use default\ndelete staticDataForTime.customTimeWindow;\nconst LOCATION = 'India';           // Search location\nconst GEO_ID = '102713980';         // India geoId\nconst LOCATION_FILTER = '105214831'; // Bengaluru, Karnataka f_PP filter\n// ============================================================\n\nconst staticData = $getWorkflowStaticData('global');\nconst config = staticData.config || [];\nconst results = $input.all().map(i => i.json);\n\n// Build dedup set from existing results\nconst existingJobIds = {};\nfor (const r of results) {\n  if (r.JobID) existingJobIds[String(r.JobID)] = true;\n}\nstaticData.existingJobIds = existingJobIds;\nstaticData.newJobLinks = [];\n\nconsole.log(`Dedup set loaded: ${Object.keys(existingJobIds).length} existing job IDs`);\n\n// Define keyword templates per bucket\nconst bucketKeywords = {\n  '1': '\"software development engineer\" OR \"SDE\" OR \"SDE II\" OR \"SDE 2\" OR \"SDE-II\" OR \"software engineer II\" OR \"software engineer 2\" OR \"software engineer - II\"',\n  '2': '\"software engineer III\" OR \"software engineer 3\" OR \"software developer 3\"',\n  '3': '\"software engineer\" OR \"software developer\" OR \"backend engineer\" OR \"SDE\" OR \"MTS\" OR \"member of technical staff\"',\n  '4': '\"software engineer\" OR \"software developer\" OR \"backend engineer\" OR \"SDE\" OR \"MTS\" OR \"member of technical staff\"'\n};\n\n// Group active companies by bucket\nconst buckets = {};\nfor (const item of config) {\n  const isActive = String(item.Active).toUpperCase() === 'TRUE' || item.Active === true;\n  if (!isActive) continue;\n  \n  const bucket = String(item.Bucket);\n  if (!buckets[bucket]) buckets[bucket] = [];\n  buckets[bucket].push(String(item.CompanyID));\n}\n\n// Build LinkedIn search URLs\nconst urls = [];\nfor (const [bucket, companyIds] of Object.entries(buckets)) {\n  const keywords = bucketKeywords[bucket];\n  if (!keywords || companyIds.length === 0) continue;\n  \n  const encodedKeywords = encodeURIComponent(keywords);\n  const companyFilter = companyIds.join(',');\n  const encodedLocation = encodeURIComponent(LOCATION);\n  \n  const url = `https://www.linkedin.com/jobs/search/?keywords=${encodedKeywords}&f_C=${companyFilter}&f_TPR=r${TIME_WINDOW_SECONDS}&location=${encodedLocation}&geoId=${GEO_ID}&f_PP=${LOCATION_FILTER}&sortBy=DD`;\n  \n  urls.push({\n    url: url,\n    bucket: bucket,\n    companyCount: companyIds.length\n  });\n}\n\nconsole.log(`Built ${urls.length} search URLs for ${Object.keys(buckets).length} active buckets`);\n\nif (urls.length === 0) {\n  return [{json: {url: '', bucket: '0', companyCount: 0, noUrls: true}}];\n}\n\nreturn urls.map(u => ({json: u}));"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000007",
      "name": "Loop Over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [800, -400],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000008",
      "name": "Wait Between Searches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1000, -200],
      "parameters": {
        "amount": 3
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000009",
      "name": "Fetch Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -200],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000010",
      "name": "Extract Links & Titles",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [1400, -200],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "attribute": "href",
              "cssSelector": "ul.jobs-search__results-list li div a[class*='base-card']",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "titles",
              "cssSelector": "ul.jobs-search__results-list h3.base-search-card__title",
              "returnArray": true,
              "returnValue": "text"
            },
            {
              "key": "companies",
              "cssSelector": "ul.jobs-search__results-list h4.base-search-card__subtitle",
              "returnArray": true,
              "returnValue": "text"
            },
            {
              "key": "locations",
              "cssSelector": "ul.jobs-search__results-list span.job-search-card__location",
              "returnArray": true,
              "returnValue": "text"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000011",
      "name": "Filter & Accumulate Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, -200],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst existingIds = staticData.existingJobIds || {};\nconst newLinks = staticData.newJobLinks || [];\n\n// Get current bucket from the URL item that flowed through\nconst currentBucket = $('Loop Over URLs').first().json.bucket || '0';\n\n// Get extracted data\nconst data = $input.first().json;\nconst links = data.links || [];\nconst titles = data.titles || [];\nconst companies = data.companies || [];\nconst locations = data.locations || [];\n\n// ============================================================\n// NEGATIVE TITLE FILTER\n// Titles containing these patterns are EXCLUDED\n// ============================================================\n// For Bucket 1 & 2: also exclude 'senior' and 'sr'\nconst negativeBase = /\\b(staff|principal|lead|manager|director|ios|android|machine.?learning|data.?scien|QA|SDET|devops|SRE|site.?reliability|frontend|front.?end|intern|test.?engineer|test.?auto|platform.?engineer|infra.?engineer|cloud.?engineer|security|mobile|embedded)\\b/i;\nconst negativeSenior = /\\b(senior|sr\\.?)\\b/i;\n// ============================================================\n\nlet filtered = 0;\nlet duped = 0;\nlet added = 0;\n\nfor (let i = 0; i < links.length; i++) {\n  const url = links[i] || '';\n  const title = (titles[i] || '').trim();\n  const company = (companies[i] || '').trim();\n  const location = (locations[i] || '').trim();\n  \n  // Extract job ID from URL (last numeric segment before '?' in slug like /view/title-JOBID?...)\n  const match = url.match(/-(\\d{8,})(?:\\?|$)/);\n  const jobId = match ? match[1] : null;\n  \n  if (!jobId) continue;\n  \n  // Dedup: check existing results AND already-found links\n  if (existingIds[jobId]) { duped++; continue; }\n  const alreadyFound = newLinks.some(l => l.jobId === jobId);\n  if (alreadyFound) { duped++; continue; }\n  \n  // Apply negative title filter\n  if (negativeBase.test(title)) { filtered++; continue; }\n  \n  // For Bucket 1 & 2, also exclude 'senior'\n  if ((currentBucket === '1' || currentBucket === '2') && negativeSenior.test(title)) {\n    filtered++; continue;\n  }\n  \n  // Passed all filters! Add to accumulator\n  newLinks.push({\n    url: `https://www.linkedin.com/jobs/view/${jobId}`,\n    jobId: jobId,\n    bucket: currentBucket,\n    searchTitle: title,\n    searchCompany: company,\n    searchLocation: location\n  });\n  added++;\n}\n\nstaticData.newJobLinks = newLinks;\n\nconsole.log(`Bucket ${currentBucket}: ${links.length} total, ${added} new, ${duped} dupes, ${filtered} filtered`);\n\nreturn [{json: {processed: true, bucket: currentBucket, total: links.length, new: added, duped: duped, filtered: filtered}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000012",
      "name": "Output New Job Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -600],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst newLinks = staticData.newJobLinks || [];\n\nconsole.log(`Total new job links to process: ${newLinks.length}`);\n\nif (newLinks.length === 0) {\n  // Return dummy item so the downstream loop still completes\n  // and the notification chain runs (to catch unnotified from previous runs)\n  return [{json: {dummy: true, jobId: 'none', url: '', message: 'No new jobs found this run'}}];\n}\n\n// Clear the accumulator\nstaticData.newJobLinks = [];\n\nreturn newLinks.map(link => ({json: {...link, dummy: false}}));"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000013",
      "name": "Loop Over Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1500, -600],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000014",
      "name": "Wait Between Jobs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1700, -400],
      "parameters": {
        "amount": 5
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000015",
      "name": "Skip If Dummy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1900, -400],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-dummy-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.dummy }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000016",
      "name": "Fetch Job Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, -200],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000017",
      "name": "Parse Job Details",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [2300, -200],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "criteria",
              "cssSelector": "ul.description__job-criteria-list li span.description__job-criteria-text",
              "returnArray": true,
              "returnValue": "text"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000018",
      "name": "Process & Filter Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, -200],
      "parameters": {
        "jsCode": "// ============================================================\n// SETTINGS\n// ============================================================\nconst MAX_EXPERIENCE_YEARS = 4;  // Skip roles where minimum experience > 4 years\n// ============================================================\n\nconst parsed = $input.first().json;\n\n// Get original search data from the loop item\nlet searchData = {};\ntry {\n  searchData = $('Loop Over Jobs').first().json || {};\n} catch(e) {\n  searchData = {};\n}\n\nconst jobId = searchData.jobId || '';\nconst bucket = searchData.bucket || '';\nconst searchTitle = searchData.searchTitle || '';\nconst searchCompany = searchData.searchCompany || '';\n\n// If parsing failed or dummy, mark as invalid\nif (!parsed.title && !searchTitle) {\n  return [{json: {valid: false, reason: 'parse_failed'}}];\n}\n\nconst title = (parsed.title || searchTitle || '').trim();\nconst company = (parsed.company || searchCompany || '').trim();\nconst location = (parsed.location || searchData.searchLocation || '').trim();\nconst description = (parsed.description || '').replace(/\\s+/g, ' ').trim();\nconst criteria = parsed.criteria || [];\n\n// ============================================================\n// EXPERIENCE EXTRACTION (regex-based, no LLM needed)\n// ============================================================\nlet expText = 'Not specified';\nlet minExp = null;\nlet maxExp = null;\n\n// Try extracting from description\nconst descLower = description.toLowerCase();\n\n// Patterns: \"3+ years\", \"3-5 years\", \"3 to 5 years\", \"minimum 3 years\", \"at least 3 years\"\nconst expPatterns = [\n  /(\\d+)\\s*\\+\\s*(?:years|yrs)/i,\n  /(\\d+)\\s*[-–to]+\\s*(\\d+)\\s*(?:years|yrs)/i,\n  /(?:minimum|at least|min\\.?)\\s*(\\d+)\\s*(?:years|yrs)/i,\n  /(\\d+)\\s*(?:years|yrs)\\s*(?:of)?\\s*(?:experience|exp)/i\n];\n\nfor (const pattern of expPatterns) {\n  const match = descLower.match(pattern);\n  if (match) {\n    minExp = parseInt(match[1]);\n    maxExp = match[2] ? parseInt(match[2]) : null;\n    expText = match[0].trim();\n    break;\n  }\n}\n\n// Also check criteria list (LinkedIn structured data)\nfor (const c of criteria) {\n  const cLower = (c || '').toLowerCase().trim();\n  // Sometimes criteria has \"Mid-Senior level\" or \"Entry level\"\n  if (cLower.includes('entry')) {\n    if (!minExp) { minExp = 0; expText = cLower; }\n  } else if (cLower.includes('mid-senior')) {\n    if (!minExp) { minExp = 3; expText = cLower; }\n  }\n}\n\n// ============================================================\n// FILTER: Skip if experience requirement > threshold\n// ============================================================\nconst skipDueToExp = minExp !== null && minExp > MAX_EXPERIENCE_YEARS;\n\nif (skipDueToExp) {\n  console.log(`Skipping ${title} at ${company}: requires ${expText} (min ${minExp} yrs > ${MAX_EXPERIENCE_YEARS})`);\n  return [{json: {valid: false, reason: 'experience_too_high', title, company, expText}}];\n}\n\n// ============================================================\n// DETERMINE PRIMARY TAG\n// ============================================================\nlet primaryTag = 'Generic';\nconst titleLower = title.toLowerCase();\nif (/sde.?(?:ii|2)/i.test(titleLower)) primaryTag = 'SDE-II';\nelse if (/software.*engineer.*(?:iii|3)/i.test(titleLower)) primaryTag = 'SE-III';\nelse if (/mts|member.*technical/i.test(titleLower)) primaryTag = 'MTS';\nelse if (/senior|sr/i.test(titleLower)) primaryTag = 'Senior';\nelse if (/backend|back.?end/i.test(titleLower)) primaryTag = 'Backend';\nelse primaryTag = 'Generic';\n\n// ============================================================\n// ACCUMULATE FOR LLM MATCHING\n// ============================================================\nvar expDisplay = 'Not specified';\nif (minExp !== null && maxExp !== null) {\n  expDisplay = minExp + '-' + maxExp + ' yrs';\n} else if (minExp !== null) {\n  expDisplay = minExp + '+ yrs';\n}\nvar staticDataAcc = $getWorkflowStaticData('global');\nif (!staticDataAcc.processedJobs) staticDataAcc.processedJobs = [];\nstaticDataAcc.processedJobs.push({\n  jobId: jobId,\n  title: title,\n  company: company,\n  location: location,\n  link: 'https://www.linkedin.com/jobs/view/' + jobId,\n  expDisplay: expDisplay,\n  primaryTag: primaryTag,\n  description: description.substring(0, 3000)\n});\n\n// ============================================================\n// BUILD RESULT ROW\n// ============================================================\nconst now = new Date().toISOString();\n\nreturn [{json: {\n  valid: true,\n  JobID: jobId,\n  Title: title,\n  Company: company,\n  Location: location,\n  Link: 'https://www.linkedin.com/jobs/view/' + jobId,\n  ExperienceReq: expText,\n  PrimaryTag: primaryTag,\n  FirstSeen: now,\n  Notified: 'FALSE',\n  Score: '',\n  Status: 'New'\n}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000019",
      "name": "Is Valid Job?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2700, -200],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-valid-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.valid }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000020",
      "name": "Append to Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [2900, -400],
      "parameters": {
        "columns": {
          "value": {
            "JobID": "={{ $json.JobID }}",
            "Title": "={{ $json.Title }}",
            "Company": "={{ $json.Company }}",
            "Location": "={{ $json.Location }}",
            "Link": "={{ $json.Link }}",
            "ExperienceReq": "={{ $json.ExperienceReq }}",
            "PrimaryTag": "={{ $json.PrimaryTag }}",
            "FirstSeen": "={{ $json.FirstSeen }}",
            "Notified": "={{ $json.Notified }}",
            "Score": "={{ $json.Score }}",
            "Status": "={{ $json.Status }}"
          },
          "schema": [
            {"id": "JobID", "type": "string", "display": true, "required": false, "displayName": "JobID", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Title", "type": "string", "display": true, "required": false, "displayName": "Title", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Company", "type": "string", "display": true, "required": false, "displayName": "Company", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Location", "type": "string", "display": true, "required": false, "displayName": "Location", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Link", "type": "string", "display": true, "required": false, "displayName": "Link", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "ExperienceReq", "type": "string", "display": true, "required": false, "displayName": "ExperienceReq", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "PrimaryTag", "type": "string", "display": true, "required": false, "displayName": "PrimaryTag", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "FirstSeen", "type": "string", "display": true, "required": false, "displayName": "FirstSeen", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Notified", "type": "string", "display": true, "required": false, "displayName": "Notified", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Score", "type": "string", "display": true, "required": false, "displayName": "Score", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "required": false, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true}
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": ["JobID"],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Results",
          "cachedResultName": "Results"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000021",
      "name": "Trigger Read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, -800],
      "parameters": {
        "jsCode": "// Collapse all loop output items into a single trigger so Read Unnotified executes only once\nreturn [{json: {trigger: true}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000030",
      "name": "Read Unnotified",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [3100, -800],
      "parameters": {
        "options": {
          "returnAllMatches": true
        },
        "filters": {
          "conditions": [
            {
              "condition": "equal",
              "value1": "Notified",
              "value2": "FALSE"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Results",
          "cachedResultName": "Results"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000022",
      "name": "Format Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3400, -800],
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar items = $input.all();\nvar llmFailed = staticData.llmFailed === true;\nvar processedJobs = staticData.processedJobs || [];\n\n// Filter to real job results\nvar jobs = items.filter(function(i) { return i.json.JobID && i.json.Title && i.json.Notified === false; });\n\nif (jobs.length === 0) {\n  return [{json: {hasJobs: false, message: 'No new jobs to notify', jobIds: [], scores: {}}}];\n}\n\n// Build score lookup from LLM results\nvar scoreMap = {};\nif (!llmFailed && processedJobs.length > 0) {\n  for (var p = 0; p < processedJobs.length; p++) {\n    var pj = processedJobs[p];\n    if (pj.jobId && pj.matchPercentage != null) {\n      scoreMap[pj.jobId] = pj.matchPercentage;\n    }\n  }\n}\nvar hasScores = !llmFailed && Object.keys(scoreMap).length > 0;\n\n// Merge jobs with scores\nvar jobList = [];\nfor (var k = 0; k < jobs.length; k++) {\n  var j = jobs[k].json;\n  var score = scoreMap[String(j.JobID)];\n  jobList.push({\n    JobID: j.JobID,\n    Title: j.Title,\n    Company: j.Company,\n    Location: j.Location,\n    Link: j.Link,\n    ExperienceReq: j.ExperienceReq,\n    PrimaryTag: j.PrimaryTag,\n    matchPercentage: typeof score === 'number' ? score : null\n  });\n}\n\n// Sort by match % if scores available\nif (hasScores) {\n  jobList.sort(function(a, b) {\n    var aP = a.matchPercentage != null ? a.matchPercentage : -1;\n    var bP = b.matchPercentage != null ? b.matchPercentage : -1;\n    return bP - aP;\n  });\n}\n\nvar MAX_LEN = 4000;\nvar messages = [];\nvar entries = [];\n\nif (hasScores) {\n  // ENRICHED format with match %\n  var header = '\\uD83D\\uDD14 ' + jobList.length + ' New Opening' + (jobList.length > 1 ? 's' : '') + ' Found\\n\\n';\n  for (var i = 0; i < jobList.length; i++) {\n    var jb = jobList[i];\n    var pct = jb.matchPercentage;\n    var icon = '\\uD83D\\uDD34';\n    if (typeof pct === 'number') {\n      if (pct >= 70) icon = '\\uD83D\\uDFE2';\n      else if (pct >= 50) icon = '\\uD83D\\uDFE1';\n    }\n    var pctStr = typeof pct === 'number' ? pct + '%' : 'N/A';\n    var exp = jb.ExperienceReq && jb.ExperienceReq !== 'Not specified' ? ' (' + jb.ExperienceReq + ')' : '';\n    var tag = jb.PrimaryTag ? ' [' + jb.PrimaryTag + ']' : '';\n    var entry = (i+1) + '. ' + icon + ' ' + pctStr + ' \\u2014 ' + jb.Company + ' \\u2014 ' + jb.Title + exp + tag + '\\n';\n    entry += '   \\uD83D\\uDCCD ' + (jb.Location || 'N/A') + '\\n';\n    entry += '   \\uD83D\\uDD17 ' + jb.Link;\n    entries.push(entry);\n  }\n  var current = header;\n  for (var m = 0; m < entries.length; m++) {\n    if (current.length + entries[m].length + 2 > MAX_LEN) {\n      messages.push(current.trim());\n      current = '...contd\\n\\n';\n    }\n    current += entries[m] + '\\n\\n';\n  }\n  if (current.trim()) messages.push(current.trim());\n} else {\n  // FALLBACK: plain format (no scores)\n  var header2 = '\\uD83D\\uDD14 ' + jobList.length + ' New Opening' + (jobList.length > 1 ? 's' : '') + ' Found\\n\\n';\n  for (var i2 = 0; i2 < jobList.length; i2++) {\n    var jb2 = jobList[i2];\n    var exp2 = jb2.ExperienceReq && jb2.ExperienceReq !== 'Not specified' ? ' (' + jb2.ExperienceReq + ')' : '';\n    var tag2 = jb2.PrimaryTag ? ' [' + jb2.PrimaryTag + ']' : '';\n    var entry2 = (i2+1) + '. ' + jb2.Company + ' \\u2014 ' + jb2.Title + exp2 + tag2 + '\\n';\n    entry2 += '   \\uD83D\\uDCCD ' + (jb2.Location || 'N/A') + '\\n';\n    entry2 += '   ' + jb2.Link;\n    entries.push(entry2);\n  }\n  var current2 = header2;\n  for (var m2 = 0; m2 < entries.length; m2++) {\n    if (current2.length + entries[m2].length + 2 > MAX_LEN) {\n      messages.push(current2.trim());\n      current2 = '...contd\\n\\n';\n    }\n    current2 += entries[m2] + '\\n\\n';\n  }\n  if (current2.trim()) messages.push(current2.trim());\n  if (llmFailed && messages.length > 0) {\n    messages[messages.length - 1] += '\\n\\n\\u26A0\\uFE0F AI matching unavailable this run.';\n  }\n}\n\n// Build scores dict for downstream Score persistence\nvar scores = {};\nfor (var s = 0; s < jobList.length; s++) {\n  if (jobList[s].matchPercentage != null) {\n    scores[jobList[s].JobID] = jobList[s].matchPercentage;\n  }\n}\n\nvar jobIds = jobList.map(function(x) { return x.JobID; });\n\nreturn [{json: {\n  hasJobs: true,\n  messages: messages,\n  message: messages[0],\n  jobIds: jobIds,\n  count: jobList.length,\n  scores: scores,\n  llmFailed: llmFailed\n}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000023",
      "name": "Has New Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3700, -800],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-jobs",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.hasJobs }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000028",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4000, -900],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst messages = data.messages || [data.message];\nconst jobIds = data.jobIds || [];\n\nreturn messages.map((msg, i) => ({\n  json: {\n    message: msg,\n    jobIds: i === messages.length - 1 ? jobIds : []\n  }\n}));"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000024",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4300, -900],
      "parameters": {
        "chatId": "951213350",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000025",
      "name": "Mark Jobs Notified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4600, -900],
      "parameters": {
        "jsCode": "// Get jobIds and scores from Format Telegram node (Send Telegram overwrites json with API response)\nvar allIds = [];\nvar scores = {};\ntry {\n  var formatData = $('Format Telegram').first().json;\n  allIds = formatData.jobIds || [];\n  scores = formatData.scores || {};\n} catch(e) {\n  // Fallback: try from input\n  var inputItems = $input.all();\n  for (var i = 0; i < inputItems.length; i++) {\n    var ids = inputItems[i].json.jobIds || [];\n    for (var k = 0; k < ids.length; k++) { allIds.push(ids[k]); }\n  }\n}\n\nif (allIds.length === 0) {\n  return [{json: {nothing: true}}];\n}\n\n// Clean up staticData\nvar staticData = $getWorkflowStaticData('global');\ndelete staticData.processedJobs;\ndelete staticData.llmFailed;\n\nreturn allIds.map(function(id) {\n  var scoreVal = scores[id];\n  return {\n    json: {\n      JobID: id,\n      Notified: 'TRUE',\n      Score: typeof scoreVal === 'number' ? String(scoreVal) : ''\n    }\n  };\n});"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000026",
      "name": "Update Notified Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [4900, -900],
      "parameters": {
        "columns": {
          "value": {
            "JobID": "={{ $json.JobID }}",
            "Notified": "={{ $json.Notified }}",
            "Score": "={{ $json.Score }}"
          },
          "schema": [
            {"id": "JobID", "type": "string", "display": true, "required": false, "displayName": "JobID", "defaultMatch": true, "canBeUsedToMatch": true},
            {"id": "Title", "type": "string", "display": true, "required": false, "displayName": "Title", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Company", "type": "string", "display": true, "required": false, "displayName": "Company", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Location", "type": "string", "display": true, "required": false, "displayName": "Location", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Link", "type": "string", "display": true, "required": false, "displayName": "Link", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "ExperienceReq", "type": "string", "display": true, "required": false, "displayName": "ExperienceReq", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "PrimaryTag", "type": "string", "display": true, "required": false, "displayName": "PrimaryTag", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "FirstSeen", "type": "string", "display": true, "required": false, "displayName": "FirstSeen", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Notified", "type": "string", "display": true, "required": false, "displayName": "Notified", "defaultMatch": false, "canBeUsedToMatch": false},
            {"id": "Score", "type": "string", "display": true, "required": false, "displayName": "Score", "defaultMatch": false, "canBeUsedToMatch": true},
            {"id": "Status", "type": "string", "display": true, "required": false, "displayName": "Status", "defaultMatch": false, "canBeUsedToMatch": true}
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": ["JobID"],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Results",
          "cachedResultName": "Results"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000027",
      "name": "Send No Results Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4000, -700],
      "parameters": {
        "chatId": "951213350",
        "text": "\u2705 Job search ran successfully — no new openings found this run.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "sticky-01",
      "name": "Sticky Note - Triggers",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-880, -520],
      "parameters": {
        "width": 300,
        "height": 440,
        "color": 4,
        "content": "## Triggers\n\n**Schedule:** Runs at 7 AM and 7 PM IST daily (default 24h window).\n\n**Manual:** Click 'Execute Workflow' for ad-hoc runs.\n\n**Telegram:** Message your bot with:\n- `/jobs` — search last 12 hours (default)\n- `/jobs 6` — search last 6 hours\n- `/jobs 24` — search last 24 hours\n\n**Tip:** Scheduled runs always use 24h window. Only Telegram commands support custom time windows."
      }
    },
    {
      "id": "sticky-02",
      "name": "Sticky Note - Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, -520],
      "parameters": {
        "width": 650,
        "height": 200,
        "color": 5,
        "content": "## Config Sheet\nReads company list from Google Sheet 'Config' tab.\nColumns: **Company** | **CompanyID** | **Bucket** (1-4) | **Active** (TRUE/FALSE)\nTo add a company: add row, assign bucket, set Active=TRUE. Next run picks it up."
      }
    },
    {
      "id": "sticky-03",
      "name": "Sticky Note - Search Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, -120],
      "parameters": {
        "width": 820,
        "height": 200,
        "color": 6,
        "content": "## Search Loop\nFor each bucket URL: fetch LinkedIn search page → extract job cards (links + titles + companies) → apply negative title filter → dedup against existing results → accumulate new links.\n\nNegative filters: staff, principal, lead, manager, director, ios, android, ML, data science, QA, SDET, DevOps, SRE, frontend, intern, test, platform, infra, cloud, security, mobile, embedded.\nBuckets 1 & 2 also filter 'senior'."
      }
    },
    {
      "id": "sticky-04",
      "name": "Sticky Note - Job Processing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1600, -120],
      "parameters": {
        "width": 1200,
        "height": 200,
        "color": 7,
        "content": "## Job Processing Loop\nFor each new job: fetch detail page → parse title/company/location/description → extract experience requirement via regex → skip if >5 years → tag with PrimaryTag → write to Results sheet.\n\nExperience patterns: '3+ years', '3-5 years', 'minimum 3 years', 'at least 3 yrs'. Roles with unparseable experience pass through as 'Not specified' for manual review."
      }
    },
    {
      "id": "sticky-05",
      "name": "Sticky Note - Notification",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1800, -1020],
      "parameters": {
        "width": 900,
        "height": 200,
        "color": 3,
        "content": "## Notification & LLM Pipeline\nAfter job processing: Read Resume → Prepare LLM Input → Call Gemini Flash → Parse LLM Response → Read Unnotified → Format Telegram (enriched with match % or plain fallback) → send → mark as notified with Score.\nHandles leftover unnotified jobs from previous failed runs too. LLM failure falls back gracefully to plain format.",
        "width": 3200
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000035",
      "name": "Read Resume",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [1900, -800],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Resume",
          "cachedResultName": "Resume"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000036",
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -800],
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar resumeRows = $input.all().map(function(i) { return i.json; });\nvar jobs = staticData.processedJobs || [];\n\n// Build resume object from key-value rows\nvar resume = {};\nfor (var r = 0; r < resumeRows.length; r++) {\n  var key = String(resumeRows[r].Key || '').trim();\n  var value = String(resumeRows[r].Value || '').trim();\n  if (key) resume[key] = value;\n}\n\n// Check if resume data is available\nif (Object.keys(resume).length === 0 || !resume.name) {\n  console.log('Resume tab is empty or missing — skipping LLM matching');\n  staticData.llmFailed = true;\n  return [{json: {llmRequired: false, reason: 'resume_empty'}}];\n}\n\nif (jobs.length === 0) {\n  console.log('No jobs to match — skipping LLM');\n  staticData.llmFailed = true;\n  return [{json: {llmRequired: false, reason: 'no_jobs'}}];\n}\n\n// Build jobs array for LLM (truncate descriptions)\nvar jobsForLLM = jobs.map(function(j) {\n  return {\n    jobId: j.jobId,\n    title: j.title,\n    company: j.company,\n    location: j.location,\n    description: (j.description || '').substring(0, 3000),\n    experienceReq: j.expDisplay,\n    primaryTag: j.primaryTag\n  };\n});\n\nvar prompt = 'You are a job-resume matching assistant. Given a candidate\\'s resume and a list of job postings, analyze how well the candidate matches each role.\\n\\n'\n  + '## Candidate Resume\\n' + JSON.stringify(resume, null, 2) + '\\n\\n'\n  + '## Job Listings\\n' + JSON.stringify(jobsForLLM, null, 2) + '\\n\\n'\n  + '## Instructions\\nFor each job in the jobs array:\\n'\n  + '1. Compare the job requirements against the candidate\\'s resume\\n'\n  + '2. Calculate an honest match percentage based on: skills overlap (40%), experience level fit (30%), domain relevance (20%), and role seniority alignment (10%)\\n'\n  + '3. Write a one-line summary of what the role involves (max 100 characters)\\n'\n  + '4. List 2-4 key skills/experiences from the resume that match the job requirements\\n'\n  + '5. List 1-3 key skills/requirements the candidate is missing or weak on\\n\\n'\n  + '## Scoring Guidelines\\n'\n  + '- 85-100%: Excellent match — skills, experience level, and domain align closely\\n'\n  + '- 70-84%: Strong match — most key requirements met, minor gaps\\n'\n  + '- 50-69%: Moderate match — relevant foundation but notable gaps\\n'\n  + '- 30-49%: Weak match — limited overlap, significant upskilling needed\\n'\n  + '- 0-29%: Poor match — fundamentally different domain or seniority\\n\\n'\n  + '## Output Format\\nReturn ONLY a valid JSON object. No markdown, no explanation, no text before or after.\\n'\n  + '{\\n  \"results\": [\\n    {\\n      \"jobId\": \"<same jobId from input>\",\\n      \"matchPercentage\": <integer 0-100>,\\n      \"summary\": \"<what the role does, max 100 chars>\",\\n      \"keyMatches\": [\"<matching skill>\", \"<matching skill>\"],\\n      \"keyGaps\": [\"<missing requirement>\", \"<missing requirement>\"]\\n    }\\n  ]\\n}\\n\\n'\n  + 'RULES:\\n'\n  + '- Return results for ALL jobs in the input, in the same order\\n'\n  + '- Each jobId MUST match a jobId from the input exactly\\n'\n  + '- matchPercentage MUST be an integer between 0 and 100\\n'\n  + '- summary MUST be under 100 characters\\n'\n  + '- keyMatches: 2-4 items\\n'\n  + '- keyGaps: 1-3 items\\n'\n  + '- Do NOT fabricate skills the candidate doesn\\'t have\\n'\n  + '- Do NOT add any text outside the JSON object';\n\nconsole.log('Prepared LLM input: ' + jobs.length + ' jobs, resume keys: ' + Object.keys(resume).join(', '));\n\nreturn [{json: {\n  llmRequired: true,\n  prompt: prompt,\n  jobCount: jobs.length\n}}];"
      }
    },
    {
      "id": "a1000001-0001-0001-0001-000000000037",
      "name": "Call Gemini Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, -800],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { responseMimeType: 'application/json', temperature: 0.1, maxOutputTokens: 65536, thinkingConfig: { thinkingBudget: 0 } } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "a1000001-0001-0001-0001-000000000038",
      "name": "Parse LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, -800],
      "parameters": {
        "jsCode": "var staticData = $getWorkflowStaticData('global');\nvar jobs = staticData.processedJobs || [];\nvar response = $input.first().json;\n\n// Check if LLM was skipped\nif (response.llmRequired === false) {\n  console.log('LLM was skipped: ' + (response.reason || 'unknown'));\n  staticData.llmFailed = true;\n  return [{json: {llmFailed: true, reason: response.reason}}];\n}\n\ntry {\n  // Check for API error\n  if (response.error || !response.candidates || !response.candidates[0]) {\n    var errMsg = response.error ? response.error.message : 'No candidates in response';\n    console.log('Gemini API error: ' + errMsg);\n    staticData.llmFailed = true;\n    return [{json: {llmFailed: true, reason: 'api_error', error: errMsg}}];\n  }\n\n  var text = '';\n  try {\n    text = response.candidates[0].content.parts[0].text || '';\n  } catch(e) {\n    text = '';\n  }\n  if (!text) {\n    console.log('Empty response text from Gemini');\n    staticData.llmFailed = true;\n    return [{json: {llmFailed: true, reason: 'empty_response'}}];\n  }\n\n  // Parse JSON response\n  var parsed = JSON.parse(text);\n  var results = parsed.results || [];\n\n  if (!Array.isArray(results) || results.length === 0) {\n    console.log('No results array in LLM response');\n    staticData.llmFailed = true;\n    return [{json: {llmFailed: true, reason: 'no_results_array'}}];\n  }\n\n  // Build lookup by jobId\n  var resultMap = {};\n  for (var r = 0; r < results.length; r++) {\n    if (results[r].jobId) resultMap[results[r].jobId] = results[r];\n  }\n\n  // Merge LLM results into processedJobs\n  for (var j = 0; j < jobs.length; j++) {\n    var match = resultMap[jobs[j].jobId];\n    if (match) {\n      jobs[j].matchPercentage = typeof match.matchPercentage === 'number' ?\n        Math.max(0, Math.min(100, Math.round(match.matchPercentage))) : null;\n      jobs[j].summary = (match.summary || '').substring(0, 100);\n      jobs[j].keyMatches = Array.isArray(match.keyMatches) ? match.keyMatches.slice(0, 4) : [];\n      jobs[j].keyGaps = Array.isArray(match.keyGaps) ? match.keyGaps.slice(0, 3) : [];\n    } else {\n      jobs[j].matchPercentage = null;\n      jobs[j].summary = '';\n      jobs[j].keyMatches = [];\n      jobs[j].keyGaps = [];\n    }\n  }\n\n  // Sort by matchPercentage descending (nulls at end)\n  jobs.sort(function(a, b) {\n    var aP = a.matchPercentage != null ? a.matchPercentage : -1;\n    var bP = b.matchPercentage != null ? b.matchPercentage : -1;\n    return bP - aP;\n  });\n\n  staticData.processedJobs = jobs;\n  staticData.llmFailed = false;\n\n  console.log('LLM matching complete: ' + results.length + ' results merged into ' + jobs.length + ' jobs');\n  return [{json: {llmFailed: false, matchedCount: results.length, jobCount: jobs.length}}];\n\n} catch (e) {\n  console.log('LLM response parse error: ' + e.message);\n  staticData.llmFailed = true;\n  return [{json: {llmFailed: true, reason: 'parse_error', error: e.message}}];\n}"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{"node": "Read Config", "type": "main", "index": 0}]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{"node": "Read Config", "type": "main", "index": 0}]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [{"node": "Parse Hours", "type": "main", "index": 0}]
      ]
    },
    "Parse Hours": {
      "main": [
        [{"node": "Read Config", "type": "main", "index": 0}]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [{"node": "Parse Webhook Hours", "type": "main", "index": 0}]
      ]
    },
    "Parse Webhook Hours": {
      "main": [
        [{"node": "Read Config", "type": "main", "index": 0}]
      ]
    },
    "Read Config": {
      "main": [
        [{"node": "Store Config", "type": "main", "index": 0}]
      ]
    },
    "Store Config": {
      "main": [
        [{"node": "Read Results", "type": "main", "index": 0}]
      ]
    },
    "Read Results": {
      "main": [
        [{"node": "Build Search URLs", "type": "main", "index": 0}]
      ]
    },
    "Build Search URLs": {
      "main": [
        [{"node": "Loop Over URLs", "type": "main", "index": 0}]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [{"node": "Output New Job Links", "type": "main", "index": 0}],
        [{"node": "Wait Between Searches", "type": "main", "index": 0}]
      ]
    },
    "Wait Between Searches": {
      "main": [
        [{"node": "Fetch Search Page", "type": "main", "index": 0}]
      ]
    },
    "Fetch Search Page": {
      "main": [
        [{"node": "Extract Links & Titles", "type": "main", "index": 0}]
      ]
    },
    "Extract Links & Titles": {
      "main": [
        [{"node": "Filter & Accumulate Links", "type": "main", "index": 0}]
      ]
    },
    "Filter & Accumulate Links": {
      "main": [
        [{"node": "Loop Over URLs", "type": "main", "index": 0}]
      ]
    },
    "Output New Job Links": {
      "main": [
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}]
      ]
    },
    "Loop Over Jobs": {
      "main": [
        [{"node": "Trigger Read", "type": "main", "index": 0}],
        [{"node": "Wait Between Jobs", "type": "main", "index": 0}]
      ]
    },
    "Trigger Read": {
      "main": [
        [{"node": "Read Resume", "type": "main", "index": 0}]
      ]
    },
    "Read Resume": {
      "main": [
        [{"node": "Prepare LLM Input", "type": "main", "index": 0}]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [{"node": "Call Gemini Flash", "type": "main", "index": 0}]
      ]
    },
    "Call Gemini Flash": {
      "main": [
        [{"node": "Parse LLM Response", "type": "main", "index": 0}]
      ]
    },
    "Parse LLM Response": {
      "main": [
        [{"node": "Read Unnotified", "type": "main", "index": 0}]
      ]
    },
    "Wait Between Jobs": {
      "main": [
        [{"node": "Skip If Dummy", "type": "main", "index": 0}]
      ]
    },
    "Skip If Dummy": {
      "main": [
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}],
        [{"node": "Fetch Job Detail", "type": "main", "index": 0}]
      ]
    },
    "Fetch Job Detail": {
      "main": [
        [{"node": "Parse Job Details", "type": "main", "index": 0}]
      ]
    },
    "Parse Job Details": {
      "main": [
        [{"node": "Process & Filter Job", "type": "main", "index": 0}]
      ]
    },
    "Process & Filter Job": {
      "main": [
        [{"node": "Is Valid Job?", "type": "main", "index": 0}]
      ]
    },
    "Is Valid Job?": {
      "main": [
        [{"node": "Append to Results", "type": "main", "index": 0}],
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}]
      ]
    },
    "Append to Results": {
      "main": [
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}]
      ]
    },
    "Read Unnotified": {
      "main": [
        [{"node": "Format Telegram", "type": "main", "index": 0}]
      ]
    },
    "Format Telegram": {
      "main": [
        [{"node": "Has New Jobs?", "type": "main", "index": 0}]
      ]
    },
    "Has New Jobs?": {
      "main": [
        [{"node": "Split Messages", "type": "main", "index": 0}],
        [{"node": "Send No Results Telegram", "type": "main", "index": 0}]
      ]
    },
    "Split Messages": {
      "main": [
        [{"node": "Send Telegram", "type": "main", "index": 0}]
      ]
    },
    "Send Telegram": {
      "main": [
        [{"node": "Mark Jobs Notified", "type": "main", "index": 0}]
      ]
    },
    "Mark Jobs Notified": {
      "main": [
        [{"node": "Update Notified Status", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
