n8n_company_search_v1.json
{
  "name": "LinkedIn Company Search V1",
  "nodes": [
    {
      "id": "b2000001-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-800, 0],
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000002",
      "name": "Parse Search Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 0],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst msg = ($input.first().json.message?.text || '').trim();\nconst chatId = $input.first().json.message?.chat?.id || '';\n\nstaticData.chatId = String(chatId);\n\n// Parse: /search CompanyName [Days]\nconst match = msg.match(/^\\/search\\s+(.+?)(?:\\s+(\\d+))?\\s*$/);\n\nif (!match) {\n  staticData.parseError = true;\n  staticData.companyQuery = '';\n  staticData.days = 0;\n  return [{json: {\n    parseError: true,\n    chatId: String(chatId),\n    errorMessage: \"Invalid command format. Use: /search CompanyName [Days]\\nExamples:\\n  /search Oracle 30\\n  /search Google\"\n  }}];\n}\n\nconst companyQuery = match[1].trim();\nlet days = match[2] ? parseInt(match[2]) : 7;\n// Clamp to 1-90\ndays = Math.max(1, Math.min(90, days));\nconst seconds = days * 86400;\n\nstaticData.parseError = false;\nstaticData.companyQuery = companyQuery;\nstaticData.days = days;\nstaticData.timeWindowSeconds = seconds;\n\nconsole.log(`Search command: company='${companyQuery}', days=${days} (${seconds}s)`);\n\nreturn [{json: {\n  parseError: false,\n  companyQuery: companyQuery,\n  days: days,\n  seconds: seconds,\n  chatId: String(chatId)\n}}];"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000003",
      "name": "Read Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [-200, 0],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Config"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1i4eS-2TNhMJyY5JoTZhTrkXrn49xW0MbxpeaQ4NmHvc",
          "cachedResultName": "n8n Test Claude"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000004",
      "name": "Lookup Company",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 0],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst config = $input.all().map(i => i.json);\nconst query = (staticData.companyQuery || '').toLowerCase();\n\n// If parse error, pass through with no matches\nif (staticData.parseError) {\n  staticData.matchedCompanies = [];\n  return [{json: {found: false, reason: 'parse_error'}}];\n}\n\n// Case-insensitive partial match against company names\nconst matches = config.filter(c => {\n  const isActive = String(c.Active).toUpperCase() === 'TRUE' || c.Active === true;\n  if (!isActive) return false;\n  const name = (c.Company || '').toLowerCase();\n  return name.includes(query);\n});\n\nstaticData.matchedCompanies = matches;\n\nif (matches.length === 0) {\n  console.log(`No company found matching '${query}' in config`);\n  return [{json: {found: false, query: query, matchCount: 0}}];\n}\n\nconst names = matches.map(m => m.Company).join(', ');\nconsole.log(`Found ${matches.length} match(es) for '${query}': ${names}`);\n\nreturn [{json: {\n  found: true,\n  query: query,\n  matchCount: matches.length,\n  matchedNames: names,\n  matches: matches.map(m => ({company: m.Company, companyId: m.CompanyID, bucket: String(m.Bucket)}))\n}}];"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000005",
      "name": "Company Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [400, 0],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-found-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.found }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000006",
      "name": "Send Error Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 200],
      "parameters": {
        "chatId": "={{ $('Parse Search Command').first().json.chatId }}",
        "text": "={{ $('Parse Search Command').first().json.parseError ? $('Parse Search Command').first().json.errorMessage : \"Company '\" + $('Lookup Company').first().json.query + \"' not found in config. Add it to the Config sheet with its LinkedIn Company ID to enable search.\" }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000007",
      "name": "Build Search URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, -200],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst matches = staticData.matchedCompanies || [];\nconst seconds = staticData.timeWindowSeconds || 604800; // default 7 days\n\nconst LOCATION = 'India';\nconst GEO_ID = '102713980';\nconst LOCATION_FILTER = '105214831'; // Bengaluru\n\n// Bucket keyword templates (same as main workflow)\nconst bucketKeywords = {\n  '1': '\"software development engineer\" OR \"SDE\" OR \"SDE II\" OR \"SDE 2\" OR \"SDE-II\" OR \"software engineer II\" OR \"software engineer 2\" OR \"software engineer - II\"',\n  '2': '\"software engineer III\" OR \"software engineer 3\" OR \"software developer 3\"',\n  '3': '\"software engineer\" OR \"software developer\" OR \"backend engineer\" OR \"SDE\" OR \"MTS\" OR \"member of technical staff\"',\n  '4': '\"software engineer\" OR \"software developer\" OR \"backend engineer\" OR \"SDE\" OR \"MTS\" OR \"member of technical staff\"'\n};\n\n// Group matched companies by bucket\nconst buckets = {};\nfor (const m of matches) {\n  const bucket = String(m.Bucket);\n  if (!buckets[bucket]) buckets[bucket] = [];\n  buckets[bucket].push(String(m.CompanyID));\n}\n\n// Build one URL per bucket\nconst urls = [];\nfor (const [bucket, companyIds] of Object.entries(buckets)) {\n  const keywords = bucketKeywords[bucket];\n  if (!keywords || companyIds.length === 0) continue;\n\n  const encodedKeywords = encodeURIComponent(keywords);\n  const companyFilter = companyIds.join(',');\n  const encodedLocation = encodeURIComponent(LOCATION);\n\n  const url = `https://www.linkedin.com/jobs/search/?keywords=${encodedKeywords}&f_C=${companyFilter}&f_TPR=r${seconds}&location=${encodedLocation}&geoId=${GEO_ID}&f_PP=${LOCATION_FILTER}&sortBy=DD`;\n\n  urls.push({\n    url: url,\n    bucket: bucket,\n    companyCount: companyIds.length\n  });\n}\n\n// Initialize accumulator\nstaticData.foundJobLinks = [];\n\nconsole.log(`Built ${urls.length} search URL(s) for ${matches.length} matched company/companies`);\n\nif (urls.length === 0) {\n  return [{json: {url: '', bucket: '0', companyCount: 0, noUrls: true}}];\n}\n\nreturn urls.map(u => ({json: u}));"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000008",
      "name": "Loop Over URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, -200],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000009",
      "name": "Wait Between Searches",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 0],
      "parameters": {
        "amount": 3
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000010",
      "name": "Fetch Search Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 0],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2000001-0001-0001-0001-000000000011",
      "name": "Extract Links & Titles",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [1600, 0],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "attribute": "href",
              "cssSelector": "ul.jobs-search__results-list li div a[class*='base-card']",
              "returnArray": true,
              "returnValue": "attribute"
            },
            {
              "key": "titles",
              "cssSelector": "ul.jobs-search__results-list h3.base-search-card__title",
              "returnArray": true,
              "returnValue": "text"
            },
            {
              "key": "companies",
              "cssSelector": "ul.jobs-search__results-list h4.base-search-card__subtitle",
              "returnArray": true,
              "returnValue": "text"
            },
            {
              "key": "locations",
              "cssSelector": "ul.jobs-search__results-list span.job-search-card__location",
              "returnArray": true,
              "returnValue": "text"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2000001-0001-0001-0001-000000000012",
      "name": "Filter Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst foundLinks = staticData.foundJobLinks || [];\n\nconst currentBucket = $('Loop Over URLs').first().json.bucket || '0';\n\nconst data = $input.first().json;\nconst links = data.links || [];\nconst titles = data.titles || [];\nconst companies = data.companies || [];\nconst locations = data.locations || [];\n\n// ============================================================\n// NEGATIVE TITLE FILTER (same as main workflow)\n// ============================================================\nconst negativeBase = /\\b(staff|principal|lead|manager|director|ios|android|machine.?learning|data.?scien|QA|SDET|devops|SRE|site.?reliability|frontend|front.?end|intern|test.?engineer|test.?auto|platform.?engineer|infra.?engineer|cloud.?engineer|security|mobile|embedded)\\b/i;\nconst negativeSenior = /\\b(senior|sr\\.?)\\b/i;\n// ============================================================\n\nlet filtered = 0;\nlet duped = 0;\nlet added = 0;\n\nfor (let i = 0; i < links.length; i++) {\n  const url = links[i] || '';\n  const title = (titles[i] || '').trim();\n  const company = (companies[i] || '').trim();\n  const location = (locations[i] || '').trim();\n\n  // Extract job ID\n  const match = url.match(/-(\\d{8,})(?:\\?|$)/);\n  const jobId = match ? match[1] : null;\n  if (!jobId) continue;\n\n  // Dedup within this run only (no sheet dedup)\n  const alreadyFound = foundLinks.some(l => l.jobId === jobId);\n  if (alreadyFound) { duped++; continue; }\n\n  // Apply negative title filter\n  if (negativeBase.test(title)) { filtered++; continue; }\n\n  // For Bucket 1 & 2, also exclude 'senior'\n  if ((currentBucket === '1' || currentBucket === '2') && negativeSenior.test(title)) {\n    filtered++; continue;\n  }\n\n  foundLinks.push({\n    url: `https://www.linkedin.com/jobs/view/${jobId}`,\n    jobId: jobId,\n    bucket: currentBucket,\n    searchTitle: title,\n    searchCompany: company,\n    searchLocation: location\n  });\n  added++;\n}\n\nstaticData.foundJobLinks = foundLinks;\n\nconsole.log(`Bucket ${currentBucket}: ${links.length} total, ${added} new, ${duped} dupes, ${filtered} filtered`);\n\nreturn [{json: {processed: true, bucket: currentBucket, total: links.length, added: added, duped: duped, filtered: filtered}}];"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000013",
      "name": "Output Job Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, -400],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst foundLinks = staticData.foundJobLinks || [];\n\nconsole.log(`Total job links found: ${foundLinks.length}`);\n\nif (foundLinks.length === 0) {\n  return [{json: {hasLinks: false, count: 0}}];\n}\n\n// Clear accumulator and initialize processed jobs array\nstaticData.foundJobLinks = [];\nstaticData.processedJobs = [];\n\n// Fan out individual links — first item carries hasLinks flag for the IF node\nreturn foundLinks.map((link, i) => ({json: {...link, hasLinks: true, count: foundLinks.length}}));"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000014",
      "name": "Has Links?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, -400],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-has-links",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.hasLinks }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000015",
      "name": "Send No Results Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1800, -300],
      "parameters": {
        "chatId": "={{ $('Parse Search Command').first().json.chatId }}",
        "text": "={{ '\uD83D\uDD0D Jobs at ' + $('Lookup Company').first().json.matchedNames + ' (last ' + $('Parse Search Command').first().json.days + ' days)\\n\\nNo openings found in Bengaluru for this time period.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000016",
      "name": "Loop Over Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1800, -500],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000017",
      "name": "Wait Between Jobs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, -300],
      "parameters": {
        "amount": 5
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000018",
      "name": "Fetch Job Detail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, -300],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2000001-0001-0001-0001-000000000019",
      "name": "Parse Job Details",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [2400, -300],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1"
            },
            {
              "key": "company",
              "cssSelector": "div span a"
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']"
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich"
            },
            {
              "key": "criteria",
              "cssSelector": "ul.description__job-criteria-list li span.description__job-criteria-text",
              "returnArray": true,
              "returnValue": "text"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "b2000001-0001-0001-0001-000000000020",
      "name": "Process Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, -300],
      "parameters": {
        "jsCode": "// ============================================================\n// SETTINGS — same threshold as main workflow\n// ============================================================\nconst MAX_EXPERIENCE_YEARS = 4; // Skip roles where minimum experience > 4 years\n// ============================================================\n\nconst staticData = $getWorkflowStaticData('global');\nconst parsed = $input.first().json;\n\n// Get search data from the loop item\nlet searchData = {};\ntry {\n  searchData = $('Loop Over Jobs').first().json || {};\n} catch(e) {\n  searchData = {};\n}\n\nconst jobId = searchData.jobId || '';\nconst bucket = searchData.bucket || '';\nconst searchTitle = searchData.searchTitle || '';\nconst searchCompany = searchData.searchCompany || '';\n\nconst title = (parsed.title || searchTitle || '').trim();\nconst company = (parsed.company || searchCompany || '').trim();\nconst location = (parsed.location || searchData.searchLocation || '').trim();\nconst description = (parsed.description || '').replace(/\\s+/g, ' ').trim();\nconst criteria = parsed.criteria || [];\n\n// Experience extraction (same regex patterns as main workflow)\nlet expText = 'Not specified';\nlet minExp = null;\nlet maxExp = null;\n\nconst descLower = description.toLowerCase();\nconst expPatterns = [\n  /(\\d+)\\s*\\+\\s*(?:years|yrs)/i,\n  /(\\d+)\\s*[-\\u2013to]+\\s*(\\d+)\\s*(?:years|yrs)/i,\n  /(?:minimum|at least|min\\.?)\\s*(\\d+)\\s*(?:years|yrs)/i,\n  /(\\d+)\\s*(?:years|yrs)\\s*(?:of)?\\s*(?:experience|exp)/i\n];\n\nfor (const pattern of expPatterns) {\n  const match = descLower.match(pattern);\n  if (match) {\n    minExp = parseInt(match[1]);\n    maxExp = match[2] ? parseInt(match[2]) : null;\n    expText = match[0].trim();\n    break;\n  }\n}\n\nfor (const c of criteria) {\n  const cLower = (c || '').toLowerCase().trim();\n  if (cLower.includes('entry')) {\n    if (!minExp) { minExp = 0; expText = cLower; }\n  } else if (cLower.includes('mid-senior')) {\n    if (!minExp) { minExp = 3; expText = cLower; }\n  }\n}\n\n// ============================================================\n// FILTER: Skip if experience requirement > threshold\n// ============================================================\nconst skipDueToExp = minExp !== null && minExp > MAX_EXPERIENCE_YEARS;\n\nif (skipDueToExp) {\n  console.log(`Skipping ${title} at ${company}: requires ${expText} (min ${minExp} yrs > ${MAX_EXPERIENCE_YEARS})`);\n  return [{json: {processed: true, skipped: true, title: title, company: company, reason: 'experience_too_high'}}];\n}\n\n// Format experience display\nlet expDisplay = 'Not specified';\nif (minExp !== null && maxExp !== null) {\n  expDisplay = `${minExp}-${maxExp} yrs`;\n} else if (minExp !== null) {\n  expDisplay = `${minExp}+ yrs`;\n}\n\n// Primary tag (same logic as main workflow)\nlet primaryTag = 'Generic';\nconst titleLower = title.toLowerCase();\nif (/sde.?(?:ii|2)/i.test(titleLower)) primaryTag = 'SDE-II';\nelse if (/software.*engineer.*(?:iii|3)/i.test(titleLower)) primaryTag = 'SE-III';\nelse if (/mts|member.*technical/i.test(titleLower)) primaryTag = 'MTS';\nelse if (/senior|sr/i.test(titleLower)) primaryTag = 'Senior';\nelse if (/backend|back.?end/i.test(titleLower)) primaryTag = 'Backend';\nelse primaryTag = 'Generic';\n\n// Accumulate processed jobs in static data (only valid ones reach here)\nif (!staticData.processedJobs) staticData.processedJobs = [];\nstaticData.processedJobs.push({\n  jobId: jobId,\n  title: title,\n  company: company,\n  location: location,\n  link: `https://www.linkedin.com/jobs/view/${jobId}`,\n  expDisplay: expDisplay,\n  primaryTag: primaryTag\n});\n\nconsole.log(`Processed: ${title} at ${company} (${expDisplay}) [${primaryTag}]`);\n\nreturn [{json: {processed: true, skipped: false, title: title, company: company, expDisplay: expDisplay}}];"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000021",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -700],
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst jobs = staticData.processedJobs || [];\nconst days = staticData.days || 7;\nconst matchedNames = $('Lookup Company').first().json.matchedNames || 'Unknown';\n\n// Build message\nconst MAX_LEN = 4000;\nconst messages = [];\n\nconst header = `\\uD83D\\uDD0D Jobs at ${matchedNames} (last ${days} days)\\n\\nFound ${jobs.length} opening${jobs.length !== 1 ? 's' : ''} in Bengaluru:\\n\\n`;\n\nconst entries = [];\nfor (let i = 0; i < jobs.length; i++) {\n  const j = jobs[i];\n  const num = i + 1;\n  const exp = j.expDisplay && j.expDisplay !== 'Not specified' ? ` (${j.expDisplay})` : '';\n  const tag = j.primaryTag ? ` [${j.primaryTag}]` : '';\n  let entry = `${num}. ${j.company} \\u2014 ${j.title}${exp}${tag}\\n`;\n  entry += `   \\uD83D\\uDCCD ${j.location || 'N/A'}\\n`;\n  entry += `   ${j.link}`;\n  entries.push(entry);\n}\n\nlet current = header;\nfor (const entry of entries) {\n  if (current.length + entry.length + 2 > MAX_LEN) {\n    messages.push(current.trim());\n    current = '...contd\\n\\n';\n  }\n  current += entry + '\\n\\n';\n}\nif (current.trim()) messages.push(current.trim());\n\n// Clean up static data\ndelete staticData.processedJobs;\n\nconsole.log(`Formatted ${jobs.length} jobs into ${messages.length} message(s)`);\n\nreturn [{json: {messages: messages, count: jobs.length}}];"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000022",
      "name": "Split Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, -700],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst messages = data.messages || [];\n\nreturn messages.map(msg => ({\n  json: { message: msg }\n}));"
      }
    },
    {
      "id": "b2000001-0001-0001-0001-000000000023",
      "name": "Send Results Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2800, -700],
      "parameters": {
        "chatId": "={{ $('Parse Search Command').first().json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_ME",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "sticky-cs-01",
      "name": "Sticky Note - Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-880, -120],
      "parameters": {
        "width": 300,
        "height": 300,
        "color": 4,
        "content": "## /search Command\n\nTelegram bot listens for:\n- `/search Oracle 30` — search Oracle, last 30 days\n- `/search Google` — search Google, default 7 days\n- `/search clear 14` — partial match (ClearTrip, ClearTax, etc.)\n\nDays clamped to 1-90 range."
      }
    },
    {
      "id": "sticky-cs-02",
      "name": "Sticky Note - Search Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 80],
      "parameters": {
        "width": 1000,
        "height": 180,
        "color": 6,
        "content": "## Search Loop\nFor each bucket URL: fetch LinkedIn search page → extract job cards → apply negative title filter → dedup within run. Same filters as main workflow (staff, QA, devops, etc.; Buckets 1 & 2 also filter senior). No dedup against Results sheet."
      }
    },
    {
      "id": "sticky-cs-03",
      "name": "Sticky Note - Job Processing",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1900, -120],
      "parameters": {
        "width": 800,
        "height": 180,
        "color": 7,
        "content": "## Job Processing\nFor each job: fetch detail → parse → extract experience + tag. **Experience filter applied** (same as main workflow: skip if min experience > 4 years). No sheet writes — purely stateless fetch and reply."
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{"node": "Parse Search Command", "type": "main", "index": 0}]
      ]
    },
    "Parse Search Command": {
      "main": [
        [{"node": "Read Config", "type": "main", "index": 0}]
      ]
    },
    "Read Config": {
      "main": [
        [{"node": "Lookup Company", "type": "main", "index": 0}]
      ]
    },
    "Lookup Company": {
      "main": [
        [{"node": "Company Found?", "type": "main", "index": 0}]
      ]
    },
    "Company Found?": {
      "main": [
        [{"node": "Build Search URL", "type": "main", "index": 0}],
        [{"node": "Send Error Telegram", "type": "main", "index": 0}]
      ]
    },
    "Build Search URL": {
      "main": [
        [{"node": "Loop Over URLs", "type": "main", "index": 0}]
      ]
    },
    "Loop Over URLs": {
      "main": [
        [{"node": "Output Job Links", "type": "main", "index": 0}],
        [{"node": "Wait Between Searches", "type": "main", "index": 0}]
      ]
    },
    "Wait Between Searches": {
      "main": [
        [{"node": "Fetch Search Page", "type": "main", "index": 0}]
      ]
    },
    "Fetch Search Page": {
      "main": [
        [{"node": "Extract Links & Titles", "type": "main", "index": 0}]
      ]
    },
    "Extract Links & Titles": {
      "main": [
        [{"node": "Filter Links", "type": "main", "index": 0}]
      ]
    },
    "Filter Links": {
      "main": [
        [{"node": "Loop Over URLs", "type": "main", "index": 0}]
      ]
    },
    "Output Job Links": {
      "main": [
        [{"node": "Has Links?", "type": "main", "index": 0}]
      ]
    },
    "Has Links?": {
      "main": [
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}],
        [{"node": "Send No Results Telegram", "type": "main", "index": 0}]
      ]
    },
    "Loop Over Jobs": {
      "main": [
        [{"node": "Format Results", "type": "main", "index": 0}],
        [{"node": "Wait Between Jobs", "type": "main", "index": 0}]
      ]
    },
    "Wait Between Jobs": {
      "main": [
        [{"node": "Fetch Job Detail", "type": "main", "index": 0}]
      ]
    },
    "Fetch Job Detail": {
      "main": [
        [{"node": "Parse Job Details", "type": "main", "index": 0}]
      ]
    },
    "Parse Job Details": {
      "main": [
        [{"node": "Process Job", "type": "main", "index": 0}]
      ]
    },
    "Process Job": {
      "main": [
        [{"node": "Loop Over Jobs", "type": "main", "index": 0}]
      ]
    },
    "Format Results": {
      "main": [
        [{"node": "Split Messages", "type": "main", "index": 0}]
      ]
    },
    "Split Messages": {
      "main": [
        [{"node": "Send Results Telegram", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
